@{
    ViewBag.Title = "تعديل رحلة";
}

<h2>تعديل رحلة سياحية</h2>

<div id="tabs">
    <ul>
        <li><a href="#tabs-0">(&#x06F1;) بيانات الرحلة</a></li>
        <li><a href="#tabs-1">(&#x06F2;) أسعار الكبائن</a></li>
    </ul>
    <div id="tabs-0">
        @if (ViewBag.Tab == 0)
        {
            Html.RenderPartial("_EditTrip");
        }
    </div>
    <div id="tabs-1">
        @if (ViewBag.Tab == 1)
        {
            Html.RenderPartial("_TripCabinsPrice", ViewData["Tab1Model"]);
        }
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            // initial tabs
            $("#tabs").tabs()
                .tabs("option", "disabled", [0, 1])
                .tabs("enable", @ViewBag.Tab)
                .tabs( "option", "active", @ViewBag.Tab );

            // initial Datepickers
            $.datepicker.setDefaults($.datepicker.regional['ar']);
            $('#ToDate').datepicker({
                dateFormat: "yy/mm/dd",
                changeMonth: true,
                changeYear: true,
                minDate: new Date()
            });
            $("#FromDate").datepicker({
                dateFormat: "yy/mm/dd",
                changeMonth: true,
                changeYear: true,
                minDate: new Date(),
                onSelect: function (dateStr) {
                    $("#ToDate").val(dateStr);
                    $("#ToDate").datepicker("option", { minDate: new Date(dateStr) })
                }
            });
        });
    </script>
}

@section Styles
{
    <style type="text/css">
        input, select, textarea {
            max-width: 400px !important;
        }

        .btn-primary {
            color: #ffffff !important;
        }
    </style>
}