

@{
    ViewBag.Title = "إضافة مركب";
}

<h2>إضافة مركب جديد</h2>

<div id="tabs">
    <ul>
        <li><a href="#tabs-0">(&#x06F1;) بيانات المركب</a></li>
        <li><a href="#tabs-1">(&#x06F2;) أعداد الكبائن</a></li>
        <li><a href="#tabs-2">(&#x06F3;) توزيع الكبائن</a></li>
    </ul>
    <div id="tabs-0">
        @if(ViewBag.Tab==0){
            Html.RenderPartial("_CreateBoat");
        }
    </div>
    <div id="tabs-1">
        @if (ViewBag.Tab==1)
        {
            Html.RenderAction("GetFloorCabinsCount",new { id = ViewBag.BoatId }); 
        }
    </div>
    <div id="tabs-2">
        @if (ViewBag.Tab == 2)
        {
            Html.RenderAction("GetUserCabinsCount",new { id = ViewBag.BoatId }); 
        }
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            // initial tabs
            $("#tabs").tabs()
                .tabs("option", "disabled", [0, 1, 2])
                .tabs("enable", @ViewBag.Tab)
                .tabs( "option", "active", @ViewBag.Tab );;

            // initial Datepicker
            $.datepicker.setDefaults($.datepicker.regional['ar']);
            $('#ToDate').datepicker({
                dateFormat: "yy/mm/dd",
                changeMonth: true,
                changeYear: true,
                minDate: new Date()
            });

            $("#FromDate").datepicker({
                dateFormat: "yy/mm/dd",
                changeMonth: true,
                changeYear: true,
                minDate: new Date(),
                onSelect: function (dateStr) {
                    $("#ToDate").val(dateStr);
                    $("#ToDate").datepicker("option", { minDate: new Date(dateStr) })
                }
            });
        });
    </script>
}
