@{
    ViewBag.Title = "تأكيد تغيير كلمة السر";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        تم تغيير كلمة السر بنجاح.
    </p>
    <p>
        @Html.ActionLink("العودة إلى قائمة المستخدمين", "Index")
    </p>
</div>
