USE [master]
GO
/****** Object:  Database [waiterX_bookingsystem]    Script Date: 15/03/2020 01:10:34 م ******/
CREATE DATABASE [waiterX_bookingsystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'waiterX_bookingsystem_data', FILENAME = N'\\ss9\WDB2_S1\MSSQL13.MSSQLSERVER\MSSQL\DATA\waiterX_bookingsystem_data.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'waiterX_bookingsystem_log', FILENAME = N'\\ss9\WDB2_S1\MSSQL13.MSSQLSERVER\MSSQL\DATA\waiterX_bookingsystem_log.ldf' , SIZE = 18312KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [waiterX_bookingsystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [waiterX_bookingsystem]
GO
USE [waiterX_bookingsystem]
GO
/****** Object:  User [waiterX_elhor]    Script Date: 15/03/2020 01:10:38 م ******/
CREATE USER [waiterX_elhor] FOR LOGIN [waiterX_elhor] WITH DEFAULT_SCHEMA=[waiterX_elhor]
GO
ALTER ROLE [db_owner] ADD MEMBER [waiterX_elhor]
GO
/****** Object:  Schema [waiterX_elhor]    Script Date: 15/03/2020 01:10:38 م ******/
CREATE SCHEMA [waiterX_elhor]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 15/03/2020 01:10:38 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 15/03/2020 01:10:39 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 15/03/2020 01:10:39 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 15/03/2020 01:10:39 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 15/03/2020 01:10:39 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 15/03/2020 01:10:39 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[FullName] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[EditedBy] [nvarchar](max) NULL,
	[EditedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Boats]    Script Date: 15/03/2020 01:10:39 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Boats](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FromDate] [datetime] NOT NULL,
	[ToDate] [datetime] NOT NULL,
	[FloorsCount] [int] NOT NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[EditedBy] [nvarchar](max) NULL,
	[EditedOn] [datetime] NOT NULL,
	[TripId] [int] NULL,
 CONSTRAINT [PK_dbo.Boats] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Calls]    Script Date: 15/03/2020 01:10:39 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calls](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[EditedBy] [nvarchar](max) NULL,
	[EditedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Calls] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 15/03/2020 01:10:39 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[EditedBy] [nvarchar](max) NULL,
	[EditedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Flights]    Script Date: 15/03/2020 01:10:39 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flights](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FromAirport] [nvarchar](max) NULL,
	[ToAirport] [nvarchar](max) NULL,
	[FromDate] [datetime] NOT NULL,
	[ToDate] [datetime] NOT NULL,
	[Seats] [int] NOT NULL,
	[Cost] [decimal](18, 2) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[EditedBy] [nvarchar](max) NULL,
	[EditedOn] [datetime] NOT NULL,
	[TripId] [int] NULL,
 CONSTRAINT [PK_dbo.Flights] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Floors]    Script Date: 15/03/2020 01:10:39 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Floors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BoatId] [int] NOT NULL,
	[FloorNumber] [int] NOT NULL,
	[FloorCabinsCount] [int] NULL,
	[FloorSingleCabinsCount] [int] NULL,
	[FloorDoubleCabinsCount] [int] NULL,
	[FloorTripleCabinsCount] [int] NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[EditedBy] [nvarchar](max) NULL,
	[EditedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Floors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TripCabinsPrices]    Script Date: 15/03/2020 01:10:39 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TripCabinsPrices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TripId] [int] NOT NULL,
	[FloorId] [int] NOT NULL,
	[TripSingleCabinsPrice] [decimal](18, 2) NOT NULL,
	[TripDoubleCabinsPrice] [decimal](18, 2) NOT NULL,
	[TripTripleCabinsPrice] [decimal](18, 2) NOT NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[EditedBy] [nvarchar](max) NULL,
	[EditedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.TripCabinsPrices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trips]    Script Date: 15/03/2020 01:10:39 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trips](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StartPoint] [nvarchar](max) NULL,
	[EndPoint] [nvarchar](max) NULL,
	[FromDate] [datetime] NOT NULL,
	[ToDate] [datetime] NOT NULL,
	[Cost] [decimal](18, 2) NOT NULL,
	[AdultPrice] [decimal](18, 2) NOT NULL,
	[TeenPrice] [decimal](18, 2) NOT NULL,
	[ChildPrice] [decimal](18, 2) NOT NULL,
	[BabyPrice] [decimal](18, 2) NOT NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[EditedBy] [nvarchar](max) NULL,
	[EditedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Trips] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserCabinsCounts]    Script Date: 15/03/2020 01:10:39 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserCabinsCounts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FloorId] [int] NOT NULL,
	[UserId] [nvarchar](128) NULL,
	[UserSingleCabinsCount] [int] NOT NULL,
	[UserDoubleCabinsCount] [int] NOT NULL,
	[UserTripleCabinsCount] [int] NOT NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[EditedBy] [nvarchar](max) NULL,
	[EditedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.UserCabinsCounts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Title], [Description], [IsActive], [IsDeleted], [Name]) VALUES (N'09FF02C5-9EAD-45E6-B277-EECB83961069', N'الإدارة', NULL, NULL, NULL, N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Title], [Description], [IsActive], [IsDeleted], [Name]) VALUES (N'73346487-A27D-4398-9C04-3CC681AC5867', N'الحجوزات', NULL, NULL, NULL, N'Bookings')
INSERT [dbo].[AspNetRoles] ([Id], [Title], [Description], [IsActive], [IsDeleted], [Name]) VALUES (N'A658EF84-8DFD-44FF-8C16-CF9C723759AA', N'المبيعات', NULL, NULL, NULL, N'Sales')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'59bf6d55-c952-4452-92bf-36b59e0f1a52', N'09FF02C5-9EAD-45E6-B277-EECB83961069')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'450c79f3-beae-43c9-ba31-51449376eb9d', N'C2DC938C-FF35-48D4-8B41-8C3903F76441')
SET IDENTITY_INSERT [dbo].[Boats] ON 

INSERT [dbo].[Boats] ([Id], [FromDate], [ToDate], [FloorsCount], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [EditedBy], [EditedOn], [TripId]) VALUES (1082, CAST(N'2020-03-14T00:00:00.000' AS DateTime), CAST(N'2020-03-14T00:00:00.000' AS DateTime), 2, NULL, NULL, N'59bf6d55-c952-4452-92bf-36b59e0f1a52', CAST(N'2020-03-14T13:49:38.367' AS DateTime), N'59bf6d55-c952-4452-92bf-36b59e0f1a52', CAST(N'2020-03-15T10:43:40.217' AS DateTime), 6)
SET IDENTITY_INSERT [dbo].[Boats] OFF
SET IDENTITY_INSERT [dbo].[Calls] ON 

INSERT [dbo].[Calls] ([Id], [CustomerId], [Note], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [EditedBy], [EditedOn]) VALUES (1, 5, N'حجز رحلة جديدة', NULL, NULL, N'59bf6d55-c952-4452-92bf-36b59e0f1a52', CAST(N'2020-03-01T11:02:03.643' AS DateTime), N'59bf6d55-c952-4452-92bf-36b59e0f1a52', CAST(N'2020-03-01T11:02:03.643' AS DateTime))
INSERT [dbo].[Calls] ([Id], [CustomerId], [Note], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [EditedBy], [EditedOn]) VALUES (2, 6, N'تجربة 1', NULL, NULL, N'59bf6d55-c952-4452-92bf-36b59e0f1a52', CAST(N'2020-03-01T11:34:10.727' AS DateTime), N'59bf6d55-c952-4452-92bf-36b59e0f1a52', CAST(N'2020-03-01T11:34:10.727' AS DateTime))
INSERT [dbo].[Calls] ([Id], [CustomerId], [Note], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [EditedBy], [EditedOn]) VALUES (3, 6, N'حجز تذكرة طائرة', NULL, NULL, N'59bf6d55-c952-4452-92bf-36b59e0f1a52', CAST(N'2020-03-01T11:35:23.530' AS DateTime), N'59bf6d55-c952-4452-92bf-36b59e0f1a52', CAST(N'2020-03-01T11:35:23.530' AS DateTime))
SET IDENTITY_INSERT [dbo].[Calls] OFF
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Id], [Name], [Phone], [Email], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [EditedBy], [EditedOn]) VALUES (2, N'محمود السيد', NULL, NULL, NULL, NULL, N'59bf6d55-c952-4452-92bf-36b59e0f1a52', CAST(N'2020-03-01T10:49:53.217' AS DateTime), N'59bf6d55-c952-4452-92bf-36b59e0f1a52', CAST(N'2020-03-01T10:49:53.217' AS DateTime))
INSERT [dbo].[Customers] ([Id], [Name], [Phone], [Email], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [EditedBy], [EditedOn]) VALUES (3, N'علي عبد الحميد', N'0155555555', NULL, NULL, NULL, N'59bf6d55-c952-4452-92bf-36b59e0f1a52', CAST(N'2020-03-01T10:55:16.157' AS DateTime), N'59bf6d55-c952-4452-92bf-36b59e0f1a52', CAST(N'2020-03-01T10:55:16.157' AS DateTime))
INSERT [dbo].[Customers] ([Id], [Name], [Phone], [Email], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [EditedBy], [EditedOn]) VALUES (4, N'هناء محمد', N'01111111111', NULL, NULL, NULL, N'59bf6d55-c952-4452-92bf-36b59e0f1a52', CAST(N'2020-03-01T11:00:07.673' AS DateTime), N'59bf6d55-c952-4452-92bf-36b59e0f1a52', CAST(N'2020-03-01T11:00:07.673' AS DateTime))
SET IDENTITY_INSERT [dbo].[Customers] OFF
SET IDENTITY_INSERT [dbo].[Flights] ON 

INSERT [dbo].[Flights] ([Id], [FromAirport], [ToAirport], [FromDate], [ToDate], [Seats], [Cost], [Price], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [EditedBy], [EditedOn], [TripId]) VALUES (4, N'القاهرة', N'الأقصر', CAST(N'2020-03-18T00:00:00.000' AS DateTime), CAST(N'2020-03-18T00:00:00.000' AS DateTime), 200, CAST(520.00 AS Decimal(18, 2)), CAST(2000.00 AS Decimal(18, 2)), NULL, NULL, N'59bf6d55-c952-4452-92bf-36b59e0f1a52', CAST(N'2020-03-05T13:34:38.630' AS DateTime), N'59bf6d55-c952-4452-92bf-36b59e0f1a52', CAST(N'2020-03-05T13:34:38.630' AS DateTime), NULL)
INSERT [dbo].[Flights] ([Id], [FromAirport], [ToAirport], [FromDate], [ToDate], [Seats], [Cost], [Price], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [EditedBy], [EditedOn], [TripId]) VALUES (5, N'القاهرة', N'الأقصر', CAST(N'2020-03-28T00:00:00.000' AS DateTime), CAST(N'2020-03-28T00:00:00.000' AS DateTime), 400, CAST(111100.01 AS Decimal(18, 2)), CAST(135.00 AS Decimal(18, 2)), NULL, NULL, N'59bf6d55-c952-4452-92bf-36b59e0f1a52', CAST(N'2020-03-09T02:38:05.843' AS DateTime), N'59bf6d55-c952-4452-92bf-36b59e0f1a52', CAST(N'2020-03-14T02:44:08.343' AS DateTime), 6)
SET IDENTITY_INSERT [dbo].[Flights] OFF
SET IDENTITY_INSERT [dbo].[Floors] ON 

INSERT [dbo].[Floors] ([Id], [BoatId], [FloorNumber], [FloorCabinsCount], [FloorSingleCabinsCount], [FloorDoubleCabinsCount], [FloorTripleCabinsCount], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [EditedBy], [EditedOn]) VALUES (1146, 1082, 1, 90, 50, 0, 40, NULL, NULL, N'59bf6d55-c952-4452-92bf-36b59e0f1a52', CAST(N'2020-03-15T10:43:40.217' AS DateTime), N'59bf6d55-c952-4452-92bf-36b59e0f1a52', CAST(N'2020-03-15T11:12:26.340' AS DateTime))
INSERT [dbo].[Floors] ([Id], [BoatId], [FloorNumber], [FloorCabinsCount], [FloorSingleCabinsCount], [FloorDoubleCabinsCount], [FloorTripleCabinsCount], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [EditedBy], [EditedOn]) VALUES (1147, 1082, 2, 90, 60, 30, 0, NULL, NULL, N'59bf6d55-c952-4452-92bf-36b59e0f1a52', CAST(N'2020-03-15T10:43:40.217' AS DateTime), N'59bf6d55-c952-4452-92bf-36b59e0f1a52', CAST(N'2020-03-15T11:12:26.627' AS DateTime))
SET IDENTITY_INSERT [dbo].[Floors] OFF
SET IDENTITY_INSERT [dbo].[TripCabinsPrices] ON 

INSERT [dbo].[TripCabinsPrices] ([Id], [TripId], [FloorId], [TripSingleCabinsPrice], [TripDoubleCabinsPrice], [TripTripleCabinsPrice], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [EditedBy], [EditedOn]) VALUES (15, 6, 1146, CAST(20.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(40.00 AS Decimal(18, 2)), NULL, NULL, N'59bf6d55-c952-4452-92bf-36b59e0f1a52', CAST(N'2020-03-15T12:19:57.147' AS DateTime), N'59bf6d55-c952-4452-92bf-36b59e0f1a52', CAST(N'2020-03-15T12:20:18.117' AS DateTime))
INSERT [dbo].[TripCabinsPrices] ([Id], [TripId], [FloorId], [TripSingleCabinsPrice], [TripDoubleCabinsPrice], [TripTripleCabinsPrice], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [EditedBy], [EditedOn]) VALUES (16, 6, 1147, CAST(10.00 AS Decimal(18, 2)), CAST(30.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), NULL, NULL, N'59bf6d55-c952-4452-92bf-36b59e0f1a52', CAST(N'2020-03-15T12:19:57.147' AS DateTime), N'59bf6d55-c952-4452-92bf-36b59e0f1a52', CAST(N'2020-03-15T12:20:18.313' AS DateTime))
SET IDENTITY_INSERT [dbo].[TripCabinsPrices] OFF
SET IDENTITY_INSERT [dbo].[Trips] ON 

SET IDENTITY_INSERT [dbo].[Trips] OFF
SET IDENTITY_INSERT [dbo].[UserCabinsCounts] ON 

INSERT [dbo].[UserCabinsCounts] ([Id], [FloorId], [UserId], [UserSingleCabinsCount], [UserDoubleCabinsCount], [UserTripleCabinsCount], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [EditedBy], [EditedOn]) VALUES (213, 1146, N'450c79f3-beae-43c9-ba31-51449376eb9d', 30, 0, 25, NULL, NULL, N'59bf6d55-c952-4452-92bf-36b59e0f1a52', CAST(N'2020-03-15T10:43:40.217' AS DateTime), N'59bf6d55-c952-4452-92bf-36b59e0f1a52', CAST(N'2020-03-15T11:13:13.493' AS DateTime))
INSERT [dbo].[UserCabinsCounts] ([Id], [FloorId], [UserId], [UserSingleCabinsCount], [UserDoubleCabinsCount], [UserTripleCabinsCount], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [EditedBy], [EditedOn]) VALUES (214, 1146, N'59bf6d55-c952-4452-92bf-36b59e0f1a52', 20, 0, 15, NULL, NULL, N'59bf6d55-c952-4452-92bf-36b59e0f1a52', CAST(N'2020-03-15T10:43:40.217' AS DateTime), N'59bf6d55-c952-4452-92bf-36b59e0f1a52', CAST(N'2020-03-15T11:13:13.697' AS DateTime))
INSERT [dbo].[UserCabinsCounts] ([Id], [FloorId], [UserId], [UserSingleCabinsCount], [UserDoubleCabinsCount], [UserTripleCabinsCount], [IsActive], [IsDeleted], [CreatedBy], [CreatedOn], [EditedBy], [EditedOn]) VALUES (215, 1147, N'450c79f3-beae-43c9-ba31-51449376eb9d', 40, 15, 0, NULL, NULL, N'59bf6d55-c952-4452-92bf-36b59e0f1a52', CAST(N'2020-03-15T10:43:40.217' AS DateTime), N'59bf6d55-c952-4452-92bf-36b59e0f1a52', CAST(N'2020-03-15T11:13:13.900' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserCabinsCounts] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 15/03/2020 01:10:52 م ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 15/03/2020 01:10:52 م ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 15/03/2020 01:10:52 م ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 15/03/2020 01:10:52 م ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 15/03/2020 01:10:52 م ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 15/03/2020 01:10:52 م ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TripId]    Script Date: 15/03/2020 01:10:52 م ******/
CREATE NONCLUSTERED INDEX [IX_TripId] ON [dbo].[Boats]
(
	[TripId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CustomerId]    Script Date: 15/03/2020 01:10:52 م ******/
CREATE NONCLUSTERED INDEX [IX_CustomerId] ON [dbo].[Calls]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TripId]    Script Date: 15/03/2020 01:10:52 م ******/
CREATE NONCLUSTERED INDEX [IX_TripId] ON [dbo].[Flights]
(
	[TripId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BoatId]    Script Date: 15/03/2020 01:10:52 م ******/
CREATE NONCLUSTERED INDEX [IX_BoatId] ON [dbo].[Floors]
(
	[BoatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FloorId]    Script Date: 15/03/2020 01:10:52 م ******/
CREATE NONCLUSTERED INDEX [IX_FloorId] ON [dbo].[TripCabinsPrices]
(
	[FloorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TripId]    Script Date: 15/03/2020 01:10:52 م ******/
CREATE NONCLUSTERED INDEX [IX_TripId] ON [dbo].[TripCabinsPrices]
(
	[TripId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FloorId]    Script Date: 15/03/2020 01:10:52 م ******/
CREATE NONCLUSTERED INDEX [IX_FloorId] ON [dbo].[UserCabinsCounts]
(
	[FloorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 15/03/2020 01:10:52 م ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[UserCabinsCounts]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [CreatedOn]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [EditedOn]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Boats]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Boats_dbo.Trips_TripId] FOREIGN KEY([TripId])
REFERENCES [dbo].[Trips] ([Id])
GO
ALTER TABLE [dbo].[Boats] CHECK CONSTRAINT [FK_dbo.Boats_dbo.Trips_TripId]
GO
ALTER TABLE [dbo].[Calls]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Calls_dbo.Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Calls] CHECK CONSTRAINT [FK_dbo.Calls_dbo.Customers_CustomerId]
GO
ALTER TABLE [dbo].[Flights]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Flights_dbo.Trips_TripId] FOREIGN KEY([TripId])
REFERENCES [dbo].[Trips] ([Id])
GO
ALTER TABLE [dbo].[Flights] CHECK CONSTRAINT [FK_dbo.Flights_dbo.Trips_TripId]
GO
ALTER TABLE [dbo].[Floors]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Floors_dbo.Boats_BoatId] FOREIGN KEY([BoatId])
REFERENCES [dbo].[Boats] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Floors] CHECK CONSTRAINT [FK_dbo.Floors_dbo.Boats_BoatId]
GO
ALTER TABLE [dbo].[TripCabinsPrices]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TripCabinsPrices_dbo.Floors_FloorId] FOREIGN KEY([FloorId])
REFERENCES [dbo].[Floors] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TripCabinsPrices] CHECK CONSTRAINT [FK_dbo.TripCabinsPrices_dbo.Floors_FloorId]
GO
ALTER TABLE [dbo].[TripCabinsPrices]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TripCabinsPrices_dbo.Trips_TripId] FOREIGN KEY([TripId])
REFERENCES [dbo].[Trips] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TripCabinsPrices] CHECK CONSTRAINT [FK_dbo.TripCabinsPrices_dbo.Trips_TripId]
GO
ALTER TABLE [dbo].[UserCabinsCounts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserCabinsCounts_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[UserCabinsCounts] CHECK CONSTRAINT [FK_dbo.UserCabinsCounts_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[UserCabinsCounts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserCabinsCounts_dbo.Floors_FloorId] FOREIGN KEY([FloorId])
REFERENCES [dbo].[Floors] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserCabinsCounts] CHECK CONSTRAINT [FK_dbo.UserCabinsCounts_dbo.Floors_FloorId]
GO
USE [master]
GO
